@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #3645EB,#892CF6) ;
}

main {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 15px #2e198a9f ;
}

h1 {
    text-align: center;
    color: #2662D4;
    text-shadow: 1px 1px 2px #4626D4;
}

h2 {
    text-align: justify;
    color: #2CA7F6;
}