@charset "UTF-8";

@font-face{
    font-family:'passion-one';
    src: url('font/Passion_One/PassionOne-Bold.ttf') format('truetype');
}
@font-face {
    font-family:'sriracha';
    src: url('font/Sriracha/Sriracha-Regular.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
}

.sobreposto{
    background-color: white;
    margin:0px;
    padding:30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}
.abaixo{
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    font-size: 35px;
    margin: 30px 30px 30px 20px;
    width: 450px;
    padding-bottom: 0px;
    padding: 10px;
}

h1{
    font-family: passion-one;
    font-size: 130px;
    padding-top: 60px;
}
header > p{
    font-family:sans-serif;
    font-size: 18px;
    padding-bottom: 50px;
    font-weight: 1px;
}
a{
    text-decoration:none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

div > p {
    font-family:'sriracha';
}

div>p{
    margin-bottom:60px;
}

footer{
    background-color:black;
    color:white ;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}